.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
	background-color: #BDCCFF;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 103px;
}
.header__logo {
	font-weight: 800;
	font-size: 1.4375rem;
	line-height: 134.782609%; /* 31/23 */
	transition: color 0.3s ease 0s;
	position: relative;
	z-index: 5;
}
.header__logo:hover {
	color: #F85A47;
}
.header__menu {
}
.menu__list {
	display: flex;
	column-gap: 46px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.menu__item {
}
.menu__link {
	font-family: 'DM Sans';
	font-weight: 700;
	font-size: .8125rem;
	line-height: 1.3; 
	color: #000000;
}
.menu__link:hover {
	text-decoration: underline;
}
@media (max-width: 767.98px) {
	.menu__list {
		column-gap: 20px;
	}
}
/*===================Burger======================*/
.icon-menu {
	display: none;
}
@media (max-width: 767.98px) {
	.header__container,
	.menu__list {
		gap: 10px;
	}
	.icon-menu {
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
	}
	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		content: "";
		right: 0;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #333;
		border-radius: 1px;
		transition: all 0.3s ease 0s;
	}
	.icon-menu::before {
		top:0;
	}
	.icon-menu::after {
		bottom: 0;
	}
	.icon-menu span {
		top: calc(50% - 1px);
	}
	.menu-open .icon-menu span {
		width: 0;
	}
	.menu-open .icon-menu::before {
		top: calc(50% - 1px);
		transform: rotate(-45deg);
	}
	.menu-open .icon-menu::after {
		bottom: calc(50% - 1px);
		transform: rotate(45deg);
	}
	.menu__body {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #BDCCFF;
		top: 0;
		left: -100%;
		padding: 100px 15px 30px 15px;
		overflow: auto;
		transition: left 0.3s ease 0s;
	}
	.menu__body::before{
		content: "";
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		height: 70px;
		background-color: #BDCCFF;
		z-index: 2;
		transition: left 0.3s ease 0s;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 30px;
		justify-content: center;
		align-items: center;
	}
	.menu__link {
		font-size: 23px;
	}
	.header__container {
		min-height: 70px;
	}
}
.menu-open .menu__body,
.menu__body::before {
	left: 0;
}
